{% block shtumi_ajax_autocomplete_widget %}

    <script type="text/javascript">
        if (typeof jQuery.ui == 'undefined'){
            jQuery.getScript('{{ asset('/bundles/shtumiuseful/js/jqueryui/jquery-ui-1.10.1.custom.min.js') }}');
        }

    </script>

    <script>
        jQuery(function() {

            jQuery( "#{{ form.vars.id }}"  ).autocomplete({
                source: function( request, response ) {
                    jQuery.ajax({
                        url: "{{ path('shtumi_ajaxautocomplete') }}",
                        dataType: "json",
                        data: {
                            maxRows: 12,
                            letters: request.term,
                            entity_alias: "{{ entity_alias }}"
                        },
                        success: function( data ) {
                            response( jQuery.map( data, function( item ) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                open: function() {
                    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });

        });
    </script>

    <style>
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }
            /* IE 6 doesn't support max-height
           * we use height instead, but this forces the menu to always be this tall
           */
        * html .ui-autocomplete {
            height: 100px;
        }
    </style>


    {{ form_widget(form) }}

{% endblock %}


{% block shtumi_dependent_filtered_entity_widget %}

    <select {{ block('widget_attributes') }}></select>

    <img src='{{ asset('bundles/shtumiuseful/images/ajax-loader.gif' ) }}' id='loader' style='display: none;'>
    <script type="text/javascript">
        jQuery(function(){

            jQuery("select#{{ form.parent.offsetGet( parent_field ).vars.id }}").change( function() {
                var selected_index = {{ value ? value : 0 }};
                jQuery("#loader").show();
                jQuery.ajax({
                    type: "POST",
                    data: {
                        parent_id: jQuery(this).val(),
                        entity_alias: "{{ entity_alias }}",
                        empty_value: "{{ empty_value }}"
                    },
                    url:"{{ path('shtumi_dependent_filtered_entity') }}",
                    success: function(msg){
                        if (msg != ''){
                            jQuery("select#{{ form.vars.id }}").html(msg).show();
                            jQuery.each(jQuery("select#{{ form.vars.id }} option"), function (index, option){
                                if (jQuery(option).val() == selected_index)
                                    jQuery(option).prop('selected', true);
                            })
                            jQuery("select#{{ form.vars.id }}").trigger('change');
                            jQuery("#loader").hide();
                        } else {
                            jQuery("select#{{ form.vars.id }}").html('<em>{{ no_result_msg|trans() }}</em>');
                            jQuery("#loader").hide();
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                    jQuery('html').html(xhr.responseText);
                    }
                });
            });
            jQuery("select#{{ form.parent.offsetGet( parent_field ).vars.id }}").trigger('change');
        });
    </script>

{% endblock %}


{% block shtumi_daterange_widget %}

    <style type="text/css">@import "{{ asset('bundles/shtumiuseful/js/datepicker/jquery.datepick.css') }}";</style>
    <style type="text/css">@import "{{ asset('bundles/shtumiuseful/css/daterange.css') }}";</style>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/datepicker/jquery.datepick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shtumiuseful/js/datepicker/jquery.datepick-' ~ locale[0:2] ~ '.js') }}"></script>

    <input {{ block('widget_attributes') }} value="{{ value }}" class="shtumi-daterange">

    <script>
        jQuery('input#{{ form.vars.id }}').datepick({
            rangeSelect: true, monthsToShow: 2, showTrigger: '#calImg', dateFormat: '{{ datepicker_date_format }}' });
    </script>

    <div style="display: none;">
        <img id="calImg" src="{{ asset('bundles/shtumiuseful/js/datepicker/calendar-green.gif') }}" alt="Popup" class="trigger" height='22' align='absmiddle' style='margin-left: 10px;'>
    </div>

{% endblock %}
